.style-logo {
  text-align: center;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}
.info {
  text-align: center;
  margin-top: 24px;
  margin-right: 20px;
  font-weight: 200;
}
.buttonn {
  text-align: center;
  margin-top: 24px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.style-button {
  color: black;
}
.style-textbutton {
  margin-left: 100px;
}
