.p-galleria{
    align-self: center;
}
.product-card-content{
    margin-bottom: 20px;
}
.galleria {
    display: flex;
    flex-direction: column;
}
.product-headline{
    align-self: center;
    margin-bottom: 15px;
}
.product-info-head {
    display: flex;
    justify-content: space-around;
}
.product-info-head div {
    flex-basis: 50%;
    text-align: center;
}
.product-info-head span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ed7133;
}

.p-toolbar {
    justify-content: space-evenly;
}
