.navbar {
  background-color: #ed7133;
  flex-wrap: wrap;
  align-items: center;
}
.navbar > span {
  width: 33.3333%;
}
.navbar > .p-coll:first-child {
  padding-left: 20px;
}
.navbar .p-coll:last-child {
  padding-right: 20px;
  padding-top: 0px;
}

.navbar .p-coll:nth-child(2) span {
  width: 100%;
}
.navbar .p-coll:nth-child(2) input {
  width: 100%;
}

.navbar-logo-link {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  float: right;
}