body{
font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
}
.container {
  display: block;
}
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
}
.linkbutton {
  text-decoration: none;
}
.card {
  padding: 20px;
}
input {
  text-overflow: clip;
}

//Falls langweilig: Media Querys umschreiben
@media screen and (min-width: 768px) {
  .container {
      max-width: auto;
  }
}
